<h1>
    <%= article.title %> <small>by <%= article.author.getFullName() %></small>
</h1>

<p>
    <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr />
<h2>Comments</h2>
<% if (article.comments) { %> <% article.comments.forEach(element => { %>
<div class="well">
    <p><%= element.content %></p>
    <br />
    <p>-<%= element.name %></p>
</div>
<% }) %> <% } %>
<hr>
<h2>Add Comment</h2>
<form action="/comments" method="POST">
  <div class="form-group">
    <label for="content"></label>
    <input type="text" class="form-control" id="content" name="content" required>
  </div>
  <div class="form-group">
    <label for="name">Your Name</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>
  <input hidden type="text" name="articleId" value="<%= article.id %>">
  <input type="submit" class="btn btn-primary">
</form>
<br>
<a href="/">&larr; Back Home</a>
